.app-footer {
    background-color: #111;
    color: $clr4;

    // padding: 20px;
    // margin: 10px;
    // text-align: center;
    .header-adress-footer {
        gap: 126px;
    }

    .home-about-footer {
        gap: 40px;
        color: $clr3;
        font-family: Livvic-semibold;
        font-size: rem(18px);
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: 28px;
        text-align: left;
    }

    .adress-container-footer, .copyright-footer {
        opacity: 0.6;
        color: $clr3;
        font-family: Livvic-semibold;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: 25px;
        text-align: left;
    }

    .copyright-footer{
text-align: right;
    }
    .social-icons {
        gap: 16px;
    }

    .facebook-icon-footer, .pinterest-icon-footer, .twitter-icon-footer {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }
}