.main-pink-container{
    background-color: $clr2;

    .home-pink-bottom-header{

color: #012f34;
font-family: Livvic-semibold;
font-size: 48px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 48px;
text-align: left;
padding: 76px 71px;


    }
}
.contact-us-btn-pink{
    align-self: center;
}