
.home-top-section-container{
   padding-bottom: 158px;
}


.main-header-top-section{
width: 57.73%;
font-family: Livvic-SemiBold;
font-size: 100px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 100px;
text-align: left;
align-self: center;


}

.best-talent{
  color:  $clr2;
  font-style: normal;
letter-spacing: normal;
line-height: normal;

}
.main-content-section{
    width: 100%;
    padding:83px 0 9px 30px;
    /* Style for "Finding th" */

    font-family: Livvic-SemiBold;
font-size: 18px;
font-weight: 600;
font-style: normal;
letter-spacing: normal;
line-height: 28px;
text-align: left;
}

.side-circles{
  left:-20;
}

.top-line{

width: 50px;
height: 4px;
background-color: $clr4;
margin-left :30px;
}

.line-text-top{
 width: 42.27%;
 
}