@font-face {
    font-family: Livvic-Regular;
    src: url(../../fonts/Livvic/Livvic-Regular.ttf);
  }
  @font-face {
    font-family: Livvic-SemiBold;
    src: url(../../fonts/Livvic/Livvic-SemiBold.ttf);
  }

  @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0");
  