// Colors
//Primary
$clr1: #014E56;
$clr2: #F67E7E;
$clr3: #FFFFFF;

//Secondary
$clr4: #79C8C7;
$clr5: #2C6269;
$clr6: #004047;
$clr7: #012F34;
$clr8: #002529;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1110px;